{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 5 -%}

  <div class="main-blog page-width section-{{ section.id }}-padding info">

    <div class="info-ttlArea">
      <div class="c-ttlArea">
        <h2 class="c-title">{{ section.settings.title }}</h2>
        <p class="c-subTitle">{{ section.settings.subTitle }}</p>
      </div>
    </div>

    {%- assign info_blog = blogs['info'] -%}
    {%- if info_blog.articles_count > 0 -%}
      <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %} info-contents">

        {%- for article in info_blog.articles -%}
          {%- assign even = forloop.index0 | modulo: 2 -%}
          {%- if even == 1 -%}
          <div class="info-contentEven">
          {%- else -%}
          <div class="info-content">
          {%- endif -%}
              <a href="{{ article.url }}" class="info-link">
              <div class="info-article">
                <div class="info-date">{{ article.published_at | date: "%Y年%m月%d日" }}</div>
                <div class="info-title">{{ article.title }}</div>
              </div>
            </a>
          </div>
        {%- endfor -%}

      </div>
    {%- endif -%}

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}


{% schema %}
{
  "name": "info",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "セクションタイトル",
      "default": "INFORMATION"
    },
    {
      "type": "text",
      "id":"subTitle",
      "label": "サブタイトル",
      "default": "インフォメーション"
    },
    {
      "type": "text",
      "id": "button",
      "label": "ボタンのテキスト"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "ボタンリンク先"
    }
  ],
  "presets": [
    {
      "name": "info-page"
    }
  ]
}
{% endschema %}
