<section class="brand-page">
  <div class="page-inner content-inner">
    <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" style="text-align: center;">
      {{ page.title | escape }}
    </h1>
    <ul class="page-brand__contents">
      {% for block in section.blocks %}
        {%  assign collection = block.settings.collection %}
        <li class="page-band__content">
          <a href="{{ collection.url }}"><img src="{{ block.settings.image | image_url: width: 620 }}" alt="{{ collection.title }}" class="page-brand__img">
            <h3 class="page-brand__name">{{ collection.title }}</h3>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "brand",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id":"title",
      "label": "タイトル",
      "default": "CATEGORY"
    },
    {
      "type": "text",
      "id":"subTitle",
      "label": "サブタイトル",
      "default": "商品カテゴリー"
    },
  ],
  "blocks" : [
    {
      "type": "image",
      "name":"イメージ画像",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "ブランド"
        }
      ],
    },
  ],
  "presets": [
    {
      "name":"ブランドセクション",
      "category": "ページ"
    }
  ]
}
{% endschema %}
