<section class="new">
  <div class="content-inner">
    <div class="new-ttlArea">
      <div class="c-ttlArea">
        <h2 class="c-title">{{ section.settings.title }}</h2>
        <p class="c-subTitle">{{ section.settings.subTitle }}</p>
      </div>
    </div>

    {% assign collection = section.settings.recommend %}
    <ul class="new-items">
      {% for product in collection.products limit: 4 %}
        <li class="new-item">
          <a href="{{ product.url }}">
            <img src="{{ product | image_url: width: 304 }}" alt="{{ product.title }}" class="list-img">

            <div class="ranking-textArea">
              <h3 class="product-name"><span class="option-tag__pink">NEW</span>{{ product.title }}</h3>
              <div class="product-price">{{ product.price | money }}(税込)</div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="new-btnArea">
      {% if section.settings.button != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="c-btn">{{ section.settings.button }}</a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "new_item",
  "tag": "section",
  "class": "top-rec",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id":"title",
      "label": "タイトル",
      "default": "NEW ITEM"
    },
    {
      "type": "text",
      "id":"subTitle",
      "label": "サブタイトル",
      "default": "新商品"
    },
    {
      "type": "collection",
      "id":"recommend",
      "label": "おすすめ商品"
    },
    {
      "type": "text",
      "id":"button",
      "label": "ボタンのテキスト"
    },
    {
    "type": "url",
    "id": "button_link",
    "label": "ボタンリンク先"
  },
  ],
  "presets": [
    {
      "name":"top-new_item"
    }
  ]
}
{% endschema %}
