<section class="fv">
  <div class="page-inner">
    <div class="swiper fv-swiper">
      <div class="swiper-wrapper">表示確認

        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="fv-area">
              {% if block.settings.image !=blank %}
                <img src="{{ block.settings.image | image_url: width: 1920 }}" alt="{{ block.settings.alt | escape }}" class="fv-img">
              {% endif %}

              <div class="fv-txtArea">

                {% if block.settings.logo != blank %}
                  <h2 class="fv-logoArea"><img src="{{ block.settings.logo |  image_url: 274 }}" alt="{{ block.settings.logo_alt | escape }}" class="fv-logo"></h2>
                {% endif %}

                {% if block.settings.text != blank %}
                  <p class="fv-text">{{ block.settings.text }}</p>
                {% endif %}

                {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                  <div class="fv-btnArea">
                    <a href="{{ block.settings.button_url }}" class="c-btn">{{ block.settings.button_label }}</a>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FVスライド",
  "tag": "section",
  "class": "fv-area",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [ ],
  "blocks": [
    {
      "type": "slide",
      "name": "スライド",
      "settings" : [
        {
          "type": "image_picker",
          "id": "image",
          "label" : "メイン画像",
        },
        {
          "type": "text",
          "id": "alt",
          "label" : "メイン画像の代替テキスト",
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "ロゴ画像"
        },
        {
          "type": "text",
          "id": "logo_alt",
          "label": "ロゴ画像の代替テキスト"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "テキスト",
          "default": "<p>ここに説明文を入力してください。</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "ボタンテキスト",
          "default": "商品をみにいく"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "ボタンリンク"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FVスライドショー"
    }
  ]
}
{% endschema %}
