{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


  <div class="main-blog page-width section-{{ section.id }}-padding blog-top">
    <div class="page-inner content-inner">
      {% comment %} <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">{{ blog.title | escape }}</h1> {% endcomment %}

      <div class="blog-ttlArea">
        <div class="c-ttlArea">
          <h2 class="c-title">{{ section.settings.title }}</h2>
          <p class="c-subTitle">{{ section.settings.subTitle }}</p>
        </div>
      </div>

      {%- assign blog_blog = blogs['blog'] -%}
      {%- if news_blog.articles_count > 0 -%}
        <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %} blog-contents">

        {%- for article in blog_blog.articles limit: 3 -%}
          <div class="blog-content">
              <a href="{{ article.url }}">
              <img src="" alt="">
              <div class="blog-excerpt">{{ article.title }}</div>
            </a>
          </div>
        {%- endfor -%}

      </div>
      {%- endif -%}
      <div class="blog-btnArea">
        {% if section.settings.button != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="c-btn">{{ section.settings.button }}</a>
        {% endif %}
      </div>

    </div>
  </div>


{% schema %}
{
  "name": "ブログ",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "セクションタイトル",
      "default": "INFORMATION"
    },
    {
      "type": "text",
      "id":"subTitle",
      "label": "サブタイトル",
      "default": "インフォメーション"
    },
    {
      "type": "text",
      "id": "button",
      "label": "ボタンのテキスト"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "ボタンリンク先"
    }
  ],
  "presets": [
    {
      "name": "top-blog2"
    }
  ]
}
{% endschema %}
